.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-card {
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 2px 2px 1px #e4ebf3;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #0b69ff;
  margin: 10px;
}

.description {
  color: #333333;
  font-weight: 600;
}

.button {
  background-color: #0b69ff;
  border-radius: 4px;
  padding: 8px 16px;
  border-style: none;
  color: #ffffff;
  margin: 15px;
}

.random-number {
  font-size: 45px;
  color: #0b69ff;
  margin: 5px;
  font-weight: 600;
}
